rule/示例/费控审核主流程 （测试）.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 费控审核主流程 （测试）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.30@050feee64aa755ca5cdeb1b8d8f36b4072450da573e4c45ade70185734914f10
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: bc4a2e52-1693-4aca-bfcc-940f4b9de587
    name: rule2603311955
    selector:
    - env
    - rule2603311955
    value: "[\n  {\n    \"pointId\": 2,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"费用行说明\",\n    \"rule_content\": \"逐行比对费用明细信息，要求【费用明细项】与【费用说明】要有关联性。\\n1）费用明细项名称=电费时，费用说明不能包含“水”、“清洁”\\\
      n2）费用明细项名称=水费时，费用说明不能包含“电”、“清洁”\\n3）费用明细项名称=清洁支出时，费用说明不能包含“水”“电”\\\"\\n\",\n\
      \    \"expense_item_scope\": [\n      \"电费\",\n      \"水费\",\n      \"清洁支出\"\
      \n    ],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"\
      from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\",\n        \"iterate\"\
      : true,\n        \"description\": \"费用明细行对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"join_key\": null,\n    \"condition\": null,\n    \"assertion\"\
      : {\n      \"type\": \"semantic\",\n      \"description\": \"判断费用明细项与费用说明的语义关联性\"\
      ,\n      \"semantic_rules\": [\n        \"A.费用明细项名称=电费时，A.费用说明不能包含“水”、“清洁”\"\
      ,\n        \"A.费用明细项名称=水费时，A.费用说明不能包含“电”、“清洁”\",\n        \"A.费用明细项名称=清洁支出时，A.费用说明不能包含“水”“电”\"\
      \n      ],\n      \"judgment_basis\": \"根据费用明细项与费用说明的文字描述进行语义匹配\"\n    }\n \
      \ },\n  {\n    \"pointId\": 4,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"跨费用核销项\",\n    \"rule_content\": \"逐行检查费用明细信息，要求每行的【借款费用明细项】与【费用明细项】都要是一致的\\\
      n\",\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n       \
      \ \"alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行对象\"\n      }\n\
      \    ],\n    \"join\": \"none\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"semantic\",\n      \"description\"\
      : \"语义比对借款项与费用项，解决格式不一致（如一个带前缀一个不带）的问题\",\n      \"semantic_rules\": [\n   \
      \     \"A.借款费用明细项 与 A.费用明细项 指向的是同一种费用类型\"\n      ],\n      \"judgment_basis\"\
      : \"识别核心业务含义是否一致，忽略分隔符和前缀差异\"\n    }\n  },\n  {\n    \"pointId\": 5,\n    \"\
      module\": \"发票三流检查\",\n    \"pointName\": \"发票抬头\",\n    \"rule_content\": \"\
      逐条检查发票信息，要求每张发票的【购方名称】都要与【门店合同费用信息】的【付款公司】名称是一致的\\n\",\n    \"expense_item_scope\"\
      : [],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.发票信息[*].购方名称\",\n        \"iterate\": true,\n\
      \        \"description\": \"发票购方名称\"\n      },\n      {\n        \"alias\":\
      \ \"B\",\n        \"from\": \"单据\",\n        \"path\": \"$.门店合同费用信息.付款公司\",\n\
      \        \"iterate\": false,\n        \"description\": \"合同付款公司名称\"\n      }\n\
      \    ],\n    \"join\": \"broadcast\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"exact\",\n      \"description\"\
      : \"对比发票抬头（购方）与合同付款公司\",\n      \"expression\": \"A == B\"\n    }\n  },\n  {\n\
      \    \"pointId\": 6,\n    \"module\": \"发票三流检查\",\n    \"pointName\": \"发票开具方\"\
      ,\n    \"rule_content\": \"1、逐张检查发票信息，要求本单所有发票的【销方名称】必须完全一致；若存在不同销方名称，则直接判定不通过，并在计算过程中明确列出是哪几张发票的【销方名称】与其他发票不一致\\\
      n2、以统一后的发票【销方名称】作为比对基准，逐行检查费用明细的【原费用供应商名称】；若有不一致的费用行，需在计算过程中逐行列明\\n3、逐行对费用明细的【费用明细项】做语义归一，例如将“租赁支出-门店房租”归一为“门店房租”，并且只能通过【标准发票项目映射表】映射对应的【门店合同费用项目类型】来定位【门店合同费用信息】\\\
      n4、若映射表未命中，或映射结果对应的【门店合同费用项目类型】为“不参考门店信息表”，则该费用行直接判定不通过，并提示【信息不足需人工审核】，且不再继续匹配门店合同费用信息；若映射结果不是“不参考门店信息表”，但对应门店合同费用项目类型在【门店合同费用信息】中的费用信息为空、费用列表为空、配置为“无需支付”，或缺少供应商名称和收款户名，则该费用行需提醒，输出【费用项不满足报账条件】，并判定不通过；若映射结果对应多个门店合同费用项目类型（如“电费、水费”），则需将多个类型逐个拆开后分别匹配对应的门店合同费用信息，不能直接按无法唯一定位处理\\\
      n5、公司名称比对必须采用规范化后的完全相等；不得因包含关系、少字、多字、简称、品牌相近或语义相近判定一致\\n6、在定位到对应的门店合同费用信息后，按优先级判断：\\\
      n  （1）若发票【销方名称】=费用明细【原费用供应商名称】=合同【供应商名称】=合同【收款户名】，则输出【发票符合三流一致标准】\\n  （2）否则，若发票【销方名称】=合同【收款户名】，则输出【发票销方与收款户名一致】\\\
      n  （3）否则，若发票【销方名称】=合同【供应商名称】，则输出【发票销方与供应商一致】\\n7、若费用明细归一后的标准项属于【门店房租、提成房租、仓库房租、门店物业费、物业费】，且前述条件均不满足，则继续比对发票【销方名称】与合同【合同甲方】；若一致，则输出【发票销方与签约方一致】；若仍不一致，则输出【发票销方与供应商、收款方、签约方均不一致，请检查】\\\
      n8、若费用明细归一后的标准项不属于上述五类，且前述条件均不满足，则输出【不符合审核要求，请检查】\\n9、当某一费用行映射到多个门店合同费用项目类型时，需要对每一个对应合同类型都完成上述校验；仅当全部对应合同类型都满足要求时，该费用行才算通过；只要其中任意一个对应合同类型不满足要求，该费用行即判定为不通过\\\
      n10、只要存在任意一张发票销方不一致，或任意一行费用明细最终不满足上述要求，则本审核点整体不通过；仅当全部适用费用行均满足要求时，本审核点整体通过\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A_List\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单全量费用明细行列表\"\n\
      \      },\n      {\n        \"alias\": \"B_List\",\n        \"from\": \"单据\"\
      ,\n        \"path\": \"$.发票信息[*]\",\n        \"iterate\": false,\n        \"\
      description\": \"报账单全量发票列表（含销方名称）\"\n      },\n      {\n        \"alias\": \"\
      C_Map\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n        \"path\": \"$\",\n\
      \        \"iterate\": false,\n        \"description\": \"费用项到合同费用类型的标准映射关系\"\
      \n      },\n      {\n        \"alias\": \"D_Contract\",\n        \"from\": \"\
      单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n\
      \        \"description\": \"门店合同各费用类型的详细条款对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"assertion\": {\n      \"type\": \"pipeline\",\n      \"steps\"\
      : [\n        {\n          \"stepId\": 1,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"检查发票销方唯一性并记录费用供应商与销方的不一致行\",\n          \"semantic_rules\"\
      : [\n            \"1.【统一销方检查】：遍历 B_List 读取每张发票的“销方名称”并去重。本单所有发票的销方名称必须完全一致；若存在两个及以上不同的销方名称，立即判定本点不通过，并在计算过程中逐张列出是哪几张发票的销方名称与其他发票不一致，不得将该情形表述为【信息不足需人工审核】。\"\
      ,\n            \"2.【缺失处理】：若发票列表为空，或任一发票缺少“销方名称”，视为信息不足，直接判定本点不通过，并在计算过程中明确输出【信息不足需人工审核】。\"\
      ,\n            \"3.【基准销方】：若步骤1通过，则将唯一的销方名称作为本单统一销方，用于后续全部费用行与合同信息的比对。\",\n \
      \           \"4.【费用供应商逐行检查】：遍历 A_List，逐行读取“原费用供应商名称”，判断其是否与统一销方一致；若某行不一致，必须在\
      \ calculationProcess 中逐行写明“第X行费用明细供应商为XXX，发票销方为YYY，不一致”。\",\n            \"\
      5.【三流一致前提】：仅当某一费用行的“原费用供应商名称”与统一销方一致时，该行才可能被判定为【发票符合三流一致标准】；若该行费用供应商与统一销方不一致，则该行不得输出【发票符合三流一致标准】，但仍需继续进入下一步，判断是否命中更低优先级的通过文案。\"\
      \n          ],\n          \"on_failure\": 1\n        },\n        {\n       \
      \   \"stepId\": 2,\n          \"type\": \"semantic_check\",\n          \"description\"\
      : \"按标准映射定位合同信息并逐行执行销方一致性判断\",\n          \"semantic_rules\": [\n          \
      \  \"1.【费用项归一】：遍历 A_List，对每一行“费用明细项”先做语义归一，将其归一到 C_Map 的标准费用项 key，例如“租赁支出-门店房租”归一为“门店房租”，“经营支出-电费”归一为“电费”。归一时只能在\
      \ C_Map 已有 key 范围内判断，不得自造新类别。\",\n            \"2.【映射未命中处理】：若某一费用行无法明确归一到 C_Map\
      \ 中的任一标准费用项 key，则该行直接判定为不通过，并在计算过程中写明该行【信息不足需人工审核】。\",\n            \"3.【合同类型定位】：对归一成功的费用行，读取\
      \ C_Map[标准费用项].门店合同费用项目类型，作为定位 D_Contract 的依据。若该值为空、缺失，或等于“不参考门店信息表”，则该行直接判定为不通过，并在计算过程中写明【信息不足需人工审核】；不得继续去门店条款信息中查找字段。\"\
      ,\n            \"4.【多合同类型展开】：若上一步得到的是单个合同费用项目类型，则按单个类型处理；若得到的是以顿号、逗号或中文逗号分隔的多个合同费用项目类型（如“电费、水费”），必须先拆分为多个独立类型，再逐个到\
      \ D_Contract 中查找对应条款，不得将该情形直接认定为无法唯一定位或信息不足。\",\n            \"5.【合同记录读取】：对拆分后的每一个合同费用项目类型分别去\
      \ D_Contract 查找对应条款。仅当门店合同费用项目类型不是“不参考门店信息表”时，才继续读取 D_Contract；若已是“不参考门店信息表”，不得继续读取合同条款。若对应合同类型下的“费用”为空对象、空值，或“费用列表”为空数组、空值，或费用记录的“付款方式/支付方式”显示为“无需支付”（如\
      \ paymentWay=2、paymentWayDesc=无需支付、付款方式=无需支付），或费用记录只包含 feeType、paymentWay、paymentWayDesc\
      \ 等支付方式字段但没有供应商名称、收款户名等可用于三流比对的信息，则不能视为有效费用记录，该费用行直接判定为不通过，并在计算过程中输出该费用项【费用项不满足报账条件】。若对应结构为“费用”且不为空，则直接读取其中的“供应商名称”“收款户名”等字段；若对应结构为“费用列表”且不为空，则需遍历列表中全部记录；若存在“合同甲乙方”列表，则在需要时遍历其中全部“合同甲方”。\"\
      ,\n            \"6.【公司名称强一致口径】：统一销方、该行原费用供应商名称、合同供应商名称、合同收款户名、合同甲方之间的公司名称比对，只能在规范化后完全相等时判定一致。规范化仅允许处理空格、全半角、括号等格式差异；不得因包含关系、少字、多字、简称、品牌相近、主体字号相近或语义相近判定一致。若两个名称不同，必须在计算过程中写明“XXX\
      \ 与 YYY 不一致”，不得输出对应的一致文案。\",\n            \"7.【逐行优先级判断】：对每一行费用明细，使用统一销方作为发票侧唯一比较值，并按以下优先级判断，且只能输出命中的最高优先级文案一条：若统一销方、该行原费用供应商名称、合同供应商名称、合同收款户名四者规范化后完全相等，则输出【发票符合三流一致标准】；否则，若统一销方与合同收款户名规范化后完全相等，则输出【发票销方与收款户名一致】；否则，若统一销方与合同供应商名称规范化后完全相等，则输出【发票销方与供应商一致】。输出【发票销方与供应商一致】前，必须在计算过程中列明统一销方和合同供应商名称，并说明二者完全相等；若二者不完全相等，不得输出该文案。\"\
      ,\n            \"8.【五类费用补充判断】：若某行归一后的标准费用项属于“门店房租、提成房租、仓库房租、门店物业费、物业费”，且该行前述三种结果均未命中，则继续比对统一销方与合同甲方。只有合同甲方与统一销方规范化后完全相等时，才可输出【发票销方与签约方一致】；若全部都不一致，则输出【发票销方与供应商、收款方、签约方均不一致，请检查】并判定该行不通过。\"\
      ,\n            \"9.【非五类费用失败输出】：若某行归一后的标准费用项不属于“门店房租、提成房租、仓库房租、门店物业费、物业费”，且该行前述三种结果均未命中，则输出【不符合审核要求，请检查】并判定该行不通过。\"\
      ,\n            \"10.【多合同记录处理】：当某一合同费用类型下存在多条合同记录时，只要其中任意一条合同记录满足当前费用行对应优先级判断条件，即可视为该费用行在该合同类型下命中该层级；只有该合同类型下全部合同记录都不满足时，才能判定该费用行在该合同类型下未命中。\"\
      ,\n            \"11.【多合同类型整体判定】：当某一费用行映射到多个合同费用项目类型时，必须对每一个合同类型分别完成判断；只有全部对应合同类型都命中通过条件时，该费用行才算通过。只要其中任意一个合同类型未命中通过条件、条款缺失或字段不足，该费用行即判定为不通过。\"\
      ,\n            \"12.【整体结论】：仅当全部费用行都完成归一映射，并且每一行最终都命中上述通过文案之一时，本步骤判定通过并整体通过；只要存在任意费用行映射失败、信息不足或最终未命中通过条件，则本步骤判定失败，整条规则判定为不通过。\"\
      \n          ],\n          \"on_success\": 1,\n          \"on_failure\": 1\n\
      \        }\n      ]\n    }\n  },\n  {\n    \"pointId\": 7,\n    \"module\":\
      \ \"发票项目检查\",\n    \"pointName\": \"开票项目\",\n    \"rule_content\": \"1、检查发票项目禁止项：所有实际存在的发票行【货物或应税劳务名称】均不得命中【*餐饮服务*xxx】；若整单费用明细项归一后不包含【清洁支出】或【污水处理费】，则所有实际存在的发票行【货物或应税劳务名称】均不得命中【*生活服务*xxx】\\\
      n2、费用侧汇总：逐行读取费用明细，将【费用明细项】归一到【标准发票项目映射表】中的标准费用项 key，再按标准费用项合计【核销金额】\\n3、发票侧汇总：只能逐行读取实际存在的发票行【货物或应税劳务名称】作为发票项目，并按其原文合计发票行金额；若不存在发票行，或发票行缺少【货物或应税劳务名称】，则发票项目组合为空，不得从发票头、合同信息、标准映射表、附件名称或费用说明中生成发票项目；发票行金额取该行【金额(含税)】，若缺失才用同一行【金额(不含税)】+【税额】\\\
      n4、映射比较：对每个标准费用项，必须先使用【标准发票项目映射表】中该费用项对应的【发票项目名称】筛选实际存在的发票项目，形成该费用项独立的发票金额池；实际发票项目与标准模式都按【*税收分类简称*品名】解析，两个星号中间的税收分类简称必须完全一致，后面的品名/xxx不得用于语义替代税收分类简称\\\
      n5、金额比较：只能用该标准费用项自己的发票金额池合计金额与该费用项核销金额比较；未命中该费用项映射模式的发票项目不得计入该费用项，同一发票项目金额不得重复计入多个标准费用项，不得为了满足金额覆盖拼接、挪用或交叉计入其他费用项的发票金额\\\
      n6、若全部费用项均匹配成功且各自金额池覆盖核销金额，输出【发票项目符合标准】并通过；否则将未通过项转入非标管理标签容错检查\\n7、非标容错：未通过项对应的门店合同费用项目类型若为“不参考门店信息表”，直接不通过并提示人工审核；否则检查对应门店合同费用信息中的发票项目；若对应费用信息为多笔列表，只取第一笔记录比较，后续记录不参与判断；第一笔记录的发票项目为“其他”或“除以上选项”时，输出【非标发票项目有管理标签】并通过，否则不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A_List\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单全量费用明细行列表\"\n\
      \      },\n      {\n        \"alias\": \"B_List\",\n        \"from\": \"单据\"\
      ,\n        \"path\": \"$.发票信息[*].发票行[*]\",\n        \"iterate\": false,\n  \
      \      \"description\": \"报账单全量发票明细行列表\"\n      },\n      {\n        \"alias\"\
      : \"C_Map\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n        \"path\": \"$\"\
      ,\n        \"iterate\": false,\n        \"description\": \"费用项与发票品名、合同类型的标准映射关系字典\"\
      \n      },\n      {\n        \"alias\": \"D_Contract\",\n        \"from\": \"\
      单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n\
      \        \"description\": \"门店合同各费用类型的详细条款对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"assertion\": {\n      \"type\": \"pipeline\",\n      \"steps\"\
      : [\n        {\n          \"stepId\": 1,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行发票项目禁止项、费用归类、发票汇总与标准金额校验\",\n          \"\
      semantic_rules\": [\n            \"1.【餐饮服务禁止项】：遍历 B_List 读取每一行“货物或应税劳务名称”，若任意发票行命中【*餐饮服务*xxx】，本审核点直接判定不通过，并在计算过程中列明命中的发票行名称；不得继续用标准映射或非标管理标签容错改判通过。\"\
      ,\n            \"2.【生活服务条件禁止项】：先遍历 A_List，将“费用明细项”语义归一后判断整单是否包含【清洁支出】或【污水处理费】。若整单不包含上述任一费用项，则遍历\
      \ B_List 读取每一行“货物或应税劳务名称”，任意发票行命中【*生活服务*xxx】时，本审核点直接判定不通过，并在计算过程中列明命中的发票行名称；不得继续用标准映射或非标管理标签容错改判通过。\"\
      ,\n            \"3.【费用侧归类汇总】：遍历 A_List，每一行先将“费用明细项”归一到 C_Map 的标准费用项 key，例如“经营支出-电费”归一为“电费”，“经营支出-水费”归一为“水费”；再按归一后的标准费用项合计“核销金额”。计算过程中必须列明每个标准费用项的原始费用明细项和核销金额汇总，例如“电费：经营支出-电费，核销金额XXX；水费：经营支出-水费，核销金额XXX”。\"\
      ,\n            \"4.【发票侧项目汇总】：遍历 B_List，每一行只能读取该发票行实际存在的“货物或应税劳务名称”作为发票项目，并按原文分组汇总发票金额。若\
      \ B_List 为空，或发票行缺少“货物或应税劳务名称”，则发票项目组合为空，并在计算过程中写明“未取得实际发票行货物或应税劳务名称”；不得从发票头“含税金额/不含税金额/合计税额”、合同信息、C_Map\
      \ 标准映射表、附件名称、费用说明或费用明细项中生成、补全、猜测发票项目。发票金额只能在存在实际发票项目时取同一发票行的“金额(含税)”；若该字段缺失，才用同一发票行的“金额(不含税)”+“税额”。不得使用费用明细中的“核销金额”“回票金额”“欠票金额”，不得根据费用明细项、附件名称或匹配关系调整发票金额。计算过程中必须列明每个实际发票项目的原始发票行金额，例如“*供电*电费：发票金额XXX；*水冰雪*水费：发票金额XXX”。\"\
      ,\n            \"5.【逐费用项映射比较】：对每个标准费用项，读取 C_Map[标准费用项].发票项目名称，必须先用该费用项允许的发票项目模式筛选实际存在于发票行“货物或应税劳务名称”的发票项目，形成该标准费用项独立的发票金额池；若发票项目组合为空，则所有标准费用项均视为名称不匹配，不得输出【发票项目符合标准】。实际发票项目和标准映射模式都按【*税收分类简称*品名】解析，匹配时必须强校验两个星号中间的税收分类简称完全一致；标准模式中的“xxx”仅表示后缀品名占位，不参与税收分类简称匹配，不得用后缀品名语义相近替代税收分类简称。例如实际发票项目【*经营租赁*房屋租赁费】可匹配标准模式【*经营租赁*xxx】；实际发票项目【*现代服务*房屋租赁】不得匹配标准模式【*经营租赁*xxx】。电费只能匹配\
      \ C_Map[电费].发票项目名称，水费只能匹配 C_Map[水费].发票项目名称；不得因为金额相等、顺序相近、附件名称或费用说明而交叉匹配。\",\n\
      \            \"6.【金额池隔离】：每个标准费用项只能使用自己的发票金额池合计金额与该费用项核销金额比较。未命中该标准费用项映射模式的发票项目，金额一分钱都不得计入该费用项；同一发票项目金额不得重复计入多个标准费用项；不得为了满足金额覆盖，将其他费用项已匹配或未匹配的发票项目金额拼接、挪用或交叉计入。判断顺序必须是：映射名称筛选\
      \ -> 金额池合计 -> 金额比较，不得先按金额相等反推匹配关系。\",\n            \"7.【逐项输出要求】：计算过程中必须逐项输出“标准费用项、核销金额、该费用项允许的发票项目模式、命中的实际发票项目、未计入该费用项金额池的发票项目、该费用项发票金额池合计、金额比较结果”。对于任一标准费用项，只能输出命中该费用项允许模式的发票项目金额池；任一实际发票项目若未命中当前费用项允许模式，必须写明“未计入该费用项金额池”，不得出现定制化挪用或拼接。\"\
      ,\n            \"8.【标准通过判定】：只有全部标准费用项均找到映射允许的发票项目，且每个标准费用项自己的发票金额池合计金额 >= 该标准费用项核销金额时，才可判定本步骤通过，并在计算过程中明确输出【发票项目符合标准】。\"\
      ,\n            \"9.【流转范围】：凡存在映射未命中、名称不匹配或金额池合计金额不足的标准费用项，均记录为【未直接通过项】或【待补充校验项】，并流转至步骤2继续检查；不得在本步骤直接省略这些未通过项。\"\
      ,\n            \"10.【整体结论】：仅当不存在上述禁止项，且全部标准费用项均在本步骤满足标准匹配和各自金额池覆盖要求时，整条规则直接通过；否则将未直接通过项流转至步骤2执行非标容错校验。\"\
      \n          ],\n          \"on_success\": 1,\n          \"on_failure\": 0\n\
      \        },\n        {\n          \"stepId\": 2,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行非标发票项目管理标签容错检查\",\n          \"semantic_rules\"\
      : [\n            \"1.【锁定对象】：本步骤仅处理步骤1中未能按标准项目直接通过的【未直接通过项】或【待补充校验项】，包括映射未命中、名称不匹配或金额不足的费用类别。\"\
      ,\n            \"2.【前置拦截】：先查看待核验项对应的 C_Map[标准分类].门店合同费用项目类型。若结果为“不参考门店信息表”，则该项不得继续匹配门店合同费用信息，应直接判定为不通过，并在计算过程中明确写明“该费用类型不参考门店信息表，需人工审核”。\"\
      ,\n            \"3.【合同比对】：仅对门店合同费用项目类型不等于“不参考门店信息表”的待核验项，去 D_Contract 查找对应条款中的“发票项目”字段；若该费用类型下为列表结构，只读取列表第一笔配置，后续配置不参与本步骤判断，并在计算过程中写明只取第一笔。\"\
      ,\n            \"4.【容错判定】：若对应合同配置为单条对象，则以该对象的“发票项目”为准；若对应合同配置为列表，则仅以第一笔配置的“发票项目”为准。只有该发票项目等于“其他”或“除以上选项”时，才可将该待核验项判定为容错通过，并在计算过程中输出【非标发票项目有管理标签】。\"\
      ,\n            \"5.【失败输出】：若按上述口径选定的合同配置未命中“其他”或“除以上选项”，则该项判定为不通过，并在计算过程中输出【不复核审核要求，请检查】。\"\
      ,\n            \"6.【整体结论】：只有当全部待核验项均满足上述非标管理标签条件时，本步骤判定通过并整体通过；否则本步骤判定失败，整条规则判定为不通过。\"\
      ,\n            \"7.【禁止回退改判】：若本步骤已经判定通过并整体通过，不得再因步骤1存在未命中、名称不匹配或金额不足等【未直接通过记录】而将结论改判为不通过，也不得输出“因步骤1未通过所以整体不通过”或同义表述。\"\
      \n          ],\n          \"on_success\": 1,\n          \"on_failure\": 1\n\
      \        }\n      ]\n    }\n  },\n  {\n    \"pointId\": 8,\n    \"module\":\
      \ \"无票核销核查\",\n    \"pointName\": \"管理标签\",\n    \"rule_content\": \"逐行检查费用明细信息，\\\
      n变量：【核销-费用类型与门店合同费用项目类型映射】\\n如果费用明细信息的【发票类型】为“无票核销”，根据【标准发票项目映射表】通过【费用明细项】匹配对应的【门店合同费用项目类型】。若匹配结果为“不参考门店信息表”，则不再继续匹配门店合同费用信息，直接判定为不通过并提示人工审核；否则继续检查【门店合同费用信息】中对应项目的发票信息/发票类型是否为无发票，是则审核通过，反之不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行\"\n      },\n\
      \      {\n        \"alias\": \"B\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n\
      \        \"path\": \"$\",\n        \"iterate\": false,\n        \"description\"\
      : \"映射表查询（带语义映射）\",\n        \"key_map\": {\n          \"type\": \"semantic\"\
      ,\n          \"description\": \"费用明细项语义纠错转换\",\n          \"source_field\":\
      \ \"A.费用明细项\",\n          \"candidates\": [\n            \"电费\",\n         \
      \   \"清洁支出\",\n            \"水费\",\n            \"杂项物业费\",\n            \"污水处理费\"\
      ,\n            \"水电公摊费\",\n            \"物业费\",\n            \"门店物业费\",\n  \
      \          \"门店房租\",\n            \"提成房租\",\n            \"仓库房租\",\n       \
      \     \"招牌相关费用\",\n            \"进场费\"\n          ],\n          \"on_failure\"\
      : 1\n        }\n      },\n      {\n        \"alias\": \"C\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n\
      \        \"description\": \"合同条款详情\"\n      }\n    ],\n    \"join\": \"none\"\
      ,\n    \"condition\": {\n      \"description\": \"仅针对无票核销行生效\",\n      \"path\"\
      : \"A.发票类型\",\n      \"operator\": \"==\",\n      \"value\": \"无票核销\"\n    },\n\
      \    \"assertion\": {\n      \"type\": \"semantic\",\n      \"description\"\
      : \"检查合同中对应的项目是否允许无发票\",\n      \"semantic_rules\": [\n        \"先查看 B[A.费用明细项].门店合同费用项目类型。若结果为“不参考门店信息表”，则该行不得继续匹配门店合同费用信息，应直接判定为不通过，并在计算过程中明确写明“该费用类型不参考门店信息表，需人工审核”。若结果不是“不参考门店信息表”，再根据该类型在合同条款\
      \ C 中查找对应的发票类型。注意：合同中该费用类型下的配置可能为单条对象或对象列表，需遍历检查其中是否存在任意一条发票类型配置为 '无发票'。\"\n\
      \      ],\n      \"judgment_basis\": \"根据费用项关联的合同条款配置判断其是否允许无票核销\"\n    }\n\
      \  }\n]"
    value_type: string
  - description: 审核规则
    id: a95f3c58-ead7-441a-b0ba-36a28eea6dd6
    name: rule2603311802
    selector:
    - env
    - rule2603311802
    value: "[\n  {\n    \"pointId\": 1,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"费用承担公司\",\n    \"rule_content\": \"1、对比报账单【基本信息】的【费用承担公司】名称与【门店合同费用信息】的【付款公司】，要求名称是一致的\\\
      n\",\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n       \
      \ \"alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.基本信息.费用承担公司\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单基本信息中的费用承担公司\"\
      \n      },\n      {\n        \"alias\": \"B\",\n        \"from\": \"单据\",\n\
      \        \"path\": \"$.门店合同费用信息.付款公司\",\n        \"iterate\": false,\n     \
      \   \"description\": \"门店合同费用信息中的付款公司\"\n      }\n    ],\n    \"join\": \"none\"\
      ,\n    \"join_key\": null,\n    \"condition\": null,\n    \"assertion\": {\n\
      \      \"type\": \"exact\",\n      \"description\": \"比对费用承担公司与合同付款公司是否一致\"\
      ,\n      \"expression\": \"A == B\"\n    }\n  },\n  {\n    \"pointId\": 2,\n\
      \    \"module\": \"表单填写检查\",\n    \"pointName\": \"费用行说明\",\n    \"rule_content\"\
      : \"2、逐行比对费用明细信息，要求【费用明细项】与【费用说明】要有关联性。\\n1）费用明细项名称=电费时，费用说明不能包含“水”、“清洁”，费用说明需要包含“电”\\\
      n2）费用明细项名称=水费时，费用说明不能包含“电”、“清洁”，费用说明需要包含“水”\\n3）费用明细项名称=清洁支出时，费用说明不能包含“水”“电”\"\
      ,\n    \"expense_item_scope\": [\n      \"电费\",\n      \"水费\",\n      \"清洁支出\"\
      \n    ],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"\
      from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\",\n        \"iterate\"\
      : true,\n        \"description\": \"费用明细行对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"join_key\": null,\n    \"condition\": null,\n    \"assertion\"\
      : {\n      \"type\": \"semantic\",\n      \"description\": \"判断费用明细项与费用说明的语义关联性\"\
      ,\n      \"semantic_rules\": [\n        \"A.费用明细项名称=电费时，A.费用说明不能包含“水”、“清洁”，需要包含“电”\"\
      ,\n        \"A.费用明细项名称=水费时，A.费用说明不能包含“电”、“清洁”，需要包含“水”\",\n        \"A.费用明细项名称=清洁支出时，A.费用说明不能包含“水”“电”\"\
      \n      ],\n      \"judgment_basis\": \"根据费用明细项与费用说明的文字描述进行语义匹配\"\n    }\n \
      \ },\n  {\n    \"pointId\": 3,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"费用承担部门\",\n    \"rule_content\": \"3、逐行检查费用明细信息，要求费用明细信息的【部门属性】必须是“自营门店”\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*].部门属性名称\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用行部门属性\"\n      }\n\
      \    ],\n    \"join\": \"none\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"exact\",\n      \"description\"\
      : \"校验部门属性是否为自营门店\",\n      \"expression\": \"A == '自营门店'\"\n    }\n  },\n \
      \ {\n    \"pointId\": 4,\n    \"module\": \"表单填写检查\",\n    \"pointName\": \"\
      跨费用核销项\",\n    \"rule_content\": \"4、逐行检查费用明细信息，要求每行的【借款费用明细项】与【费用明细项】都要是一致的\\\
      n\",\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n       \
      \ \"alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行对象\"\n      }\n\
      \    ],\n    \"join\": \"none\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"semantic\",\n      \"description\"\
      : \"语义比对借款项与费用项，解决格式不一致（如一个带前缀一个不带）的问题\",\n      \"semantic_rules\": [\n   \
      \     \"A.借款费用明细项 与 A.费用明细项 指向的是同一种费用类型\"\n      ],\n      \"judgment_basis\"\
      : \"识别核心业务含义是否一致，忽略分隔符和前缀差异\"\n    }\n  },\n  {\n    \"pointId\": 5,\n    \"\
      module\": \"发票三流检查\",\n    \"pointName\": \"发票抬头\",\n    \"rule_content\": \"\
      5、逐条检查发票信息，要求每张发票的【购方名称】都要与【门店合同费用信息】的【付款公司】名称是一致的\\n\",\n    \"expense_item_scope\"\
      : [],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.发票信息[*].购方名称\",\n        \"iterate\": true,\n\
      \        \"description\": \"发票购方名称\"\n      },\n      {\n        \"alias\":\
      \ \"B\",\n        \"from\": \"单据\",\n        \"path\": \"$.门店合同费用信息.付款公司\",\n\
      \        \"iterate\": false,\n        \"description\": \"合同付款公司名称\"\n      }\n\
      \    ],\n    \"join\": \"broadcast\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"exact\",\n      \"description\"\
      : \"对比发票抬头（购方）与合同付款公司\",\n      \"expression\": \"A == B\"\n    }\n  },\n  {\n\
      \    \"pointId\": 6,\n    \"module\": \"发票三流检查\",\n    \"pointName\": \"发票开具方\"\
      ,\n    \"rule_content\": \"逐行检查费用明细\\n1、使用费用明细的【费用明细项】通过【标准发票项目映射表】关联出对应的【发票项目名称】，\
      \ 找出【发票信息】中【货物或应税劳务名称】含【发票项目名称】的信息。\\n2、使用费用明细的【费用明细项】通过【标准发票项目映射表】关联出对应的【门店合同费用项目类型】，找出【门店合同费用信息】中对应【门店合同费用项目类型】的信息。。\\\
      n3、任一匹配不到信息，视为不通过。\\n4、在匹配到【门店合同费用信息】和【发票信息】的基础上，对比【门店合同费用信息】的“供应商”与【发票信息】对应发票上的“销方名称”是否一致，一致则通过，不一致则不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行\"\n      },\n\
      \      {\n        \"alias\": \"B\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n\
      \        \"path\": \"$\",\n        \"iterate\": false,\n        \"description\"\
      : \"映射表查询（带语义自动纠错）\",\n        \"key_map\": {\n          \"type\": \"semantic\"\
      ,\n          \"description\": \"处理如'经营支出-水费'等非标名称到标准映射表Key的转换\",\n         \
      \ \"source_field\": \"A.费用明细项\",\n          \"candidates\": [\n            \"\
      电费\",\n            \"清洁支出\",\n            \"水费\",\n            \"杂项物业费\",\n\
      \            \"污水处理费\",\n            \"水电公摊费\",\n            \"物业费\",\n    \
      \        \"门店房租\",\n            \"提成房租\",\n            \"仓库房租\",\n         \
      \   \"招牌相关费用\",\n            \"进场费\"\n          ],\n          \"on_failure\"\
      : 1\n        }\n      },\n      {\n        \"alias\": \"C\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.发票信息[*]\",\n        \"iterate\": true,\n  \
      \      \"description\": \"发票信息列表\"\n      },\n      {\n        \"alias\": \"\
      D\",\n        \"from\": \"单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n\
      \        \"iterate\": false,\n        \"description\": \"合同条款详情\"\n      }\n\
      \    ],\n    \"join\": \"cross_any\",\n    \"join_key\": \"按业务语义寻找匹配的发票与合同项\"\
      ,\n    \"condition\": null,\n    \"assertion\": {\n      \"type\": \"pipeline\"\
      ,\n      \"steps\": [\n        {\n          \"stepId\": 1,\n          \"type\"\
      : \"semantic_check\",\n          \"description\": \"匹配发票行：检查发票货物名称是否属于映射表定义的范围\"\
      ,\n          \"semantic_rules\": [\n            \"根据 B[A.费用明细项].发票项目名称，在 C.发票行[*].货物或应税劳务名称\
      \ 中匹配到对应发票\"\n          ],\n          \"on_failure\": 1\n        },\n      \
      \  {\n          \"stepId\": 2,\n          \"type\": \"exact_compare\",\n   \
      \       \"description\": \"比对销方名称与合同供应商\",\n          \"expression\": \"C.销方名称\
      \ == D[B[A.费用明细项].门店合同费用项目类型].费用.供应商名称\",\n          \"on_failure\": 1\n   \
      \     }\n      ]\n    }\n  },\n  {\n    \"pointId\": 7,\n    \"module\": \"\
      发票项目检查\",\n    \"pointName\": \"开票项目是否标准\",\n    \"rule_content\": \"1、逐行检查费用明细，用【费用明细项】分组合计【核销金额】，形成组合1：【费用明细项】与对应的【金额】\\\
      n2、逐行检查发票的发票行，用【货物或应税劳务名称】分组合计（【金额(不含税)】+【税额】），形成组合2：【货物或应税劳务名称】与对应的【金额】\\n3、【费用明细项】与【货物或应税劳务名称】通过【标准发票项目映射表】对应关联\\\
      n4、以上任一步骤不匹配，则视为不通过\\n5、在步骤3关联匹配的基础上，对比组合1和组合2的金额大小，要求组合2的金额要≥组合1的金额，满足则通过，不满足则不通过\\\
      n6、若以上任一步骤不匹配，则进一步检查该费用明细对应的门店合同费用信息中发票项目是否为“其他”，若是则予以容错通过，否则判定为不通过。\",\n  \
      \  \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"alias\"\
      : \"A_List\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单全量费用明细行列表\"\n\
      \      },\n      {\n        \"alias\": \"B_List\",\n        \"from\": \"单据\"\
      ,\n        \"path\": \"$.发票信息[*].发票行[*]\",\n        \"iterate\": false,\n  \
      \      \"description\": \"报账单全量发票明细行列表\"\n      },\n      {\n        \"alias\"\
      : \"C_Map\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n        \"path\": \"$\"\
      ,\n        \"iterate\": false,\n        \"description\": \"费用项与发票品名、合同类型的标准映射关系字典\"\
      \n      },\n      {\n        \"alias\": \"D_Contract\",\n        \"from\": \"\
      单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n\
      \        \"description\": \"门店合同各费用类型的详细条款对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"assertion\": {\n      \"type\": \"pipeline\",\n      \"steps\"\
      : [\n        {\n          \"stepId\": 1,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行分组合计与核心金额比对\",\n          \"semantic_rules\"\
      : [\n            \"1.【标准化分类】：遍历 A_List，将每个'费用明细项'（如'经营支出-水费'）语义识别并归类为 C_Map\
      \ 中的标准 Key（如'水费'）。\",\n            \"2.【汇总计算】：按标准化分类分别合计 A_List 的'核销金额'（报账总额）与\
      \ B_List 对应品名的'金额+税额'（发票总额）。\",\n            \"3.【合规豁免】：逐一比对分类金额。若某类费用的‘发票总额\
      \ >= 报账总额’，立即判定该类别为【完全合规】，并将其从待核验清单中移除，严禁对其执行后续合同核验。\",\n            \"4.【终止指令】：若所有费用类别均被标记为【完全合规】，则判定整条规则通过，并立即终止\
      \ pipeline，不得查看合同信息。\",\n            \"5.【残留项流转】：仅将‘发票总额 < 报账总额’的特定类别标记为【金额不足项】，并流转至步骤2进行容错核验。\"\
      \n          ],\n          \"on_success\": 1,\n          \"on_failure\": 0\n\
      \        },\n        {\n          \"stepId\": 2,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行容错性检查（仅针对金额不足的分类）\",\n          \"semantic_rules\"\
      : [\n            \"1.【锁定对象】：本步骤【仅限】处理步骤1中遗留的【金额不足项】。对于步骤1已判定合规的项目，不得再次调取其合同信息。\"\
      ,\n            \"2.【合同比对】：根据【金额不足项】对应的 C_Map[标准分类].门店合同费用项目类型，去 D_Contract 查找该条款的‘发票项目’字段。\"\
      ,\n            \"3.【容错判定】：若该字段值为‘其他’，则该缺口项视为容错通过；若字段缺失或不为‘其他’，则判定为最终不通过。\",\n\
      \            \"4.【结论一致性】：只有当所有【金额不足项】均符合合同‘其他’容错条件时，整条规则才判定为通过。\"\n        \
      \  ],\n          \"on_failure\": 1\n        }\n      ]\n    }\n  },\n  {\n \
      \   \"pointId\": 8,\n    \"module\": \"无票核销核查\",\n    \"pointName\": \"检查管理标签\"\
      ,\n    \"rule_content\": \"9、逐行检查费用明细信息，\\n变量：【核销-费用类型与门店合同费用项目类型映射】\\n如果费用明细信息的【发票类型】为“无票核销”，根据【标准发票项目映射表】通过【费用明细项】匹配对应的【门店合同费用项目类型】，如果【门店合同费用信息】中对应项目的发票信息/发票类型为无发票，则审核通过，反之不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行\"\n      },\n\
      \      {\n        \"alias\": \"B\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n\
      \        \"path\": \"$\",\n        \"iterate\": false,\n        \"description\"\
      : \"映射表查询（带语义映射）\",\n        \"key_map\": {\n          \"type\": \"semantic\"\
      ,\n          \"description\": \"费用明细项语义纠错转换\",\n          \"source_field\":\
      \ \"A.费用明细项\",\n          \"candidates\": [\n            \"电费\",\n         \
      \   \"清洁支出\",\n            \"水费\",\n            \"杂项物业费\",\n            \"污水处理费\"\
      ,\n            \"水电公摊费\",\n            \"物业费\",\n            \"门店房租\",\n   \
      \         \"提成房租\",\n            \"仓库房租\",\n            \"招牌相关费用\",\n      \
      \      \"进场费\"\n          ],\n          \"on_failure\": 1\n        }\n     \
      \ },\n      {\n        \"alias\": \"C\",\n        \"from\": \"单据\",\n      \
      \  \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n        \"\
      description\": \"合同条款详情\"\n      }\n    ],\n    \"join\": \"none\",\n    \"\
      condition\": {\n      \"description\": \"仅针对无票核销行生效\",\n      \"path\": \"A.发票类型\"\
      ,\n      \"operator\": \"==\",\n      \"value\": \"无票核销\"\n    },\n    \"assertion\"\
      : {\n      \"type\": \"exact\",\n      \"description\": \"检查合同中对应的项目是否允许无发票\"\
      ,\n      \"expression\": \"C[B[A.费用明细项].门店合同费用项目类型].发票信息.发票类型 == '无发票'\"\n \
      \   }\n  }\n]"
    value_type: string
  - description: 审核规则
    id: 1c6ba11b-dd0e-4026-948d-59fd45a8ec9c
    name: rules260331
    selector:
    - env
    - rules260331
    value: "[\n  {\n    \"pointId\": 1,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"费用承担公司\",\n    \"rule_content\": \"1、对比报账单【基本信息】的【费用承担公司】名称与【门店合同费用信息】的【付款公司】，要求名称是一致的\\\
      n\",\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n       \
      \ \"alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.基本信息.费用承担公司\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单基本信息中的费用承担公司\"\
      \n      },\n      {\n        \"alias\": \"B\",\n        \"from\": \"单据\",\n\
      \        \"path\": \"$.门店合同费用信息.付款公司\",\n        \"iterate\": false,\n     \
      \   \"description\": \"门店合同费用信息中的付款公司\"\n      }\n    ],\n    \"join\": \"none\"\
      ,\n    \"join_key\": null,\n    \"condition\": null,\n    \"assertion\": {\n\
      \      \"type\": \"exact\",\n      \"description\": \"比对费用承担公司与合同付款公司是否一致\"\
      ,\n      \"expression\": \"A == B\"\n    }\n  },\n  {\n    \"pointId\": 2,\n\
      \    \"module\": \"表单填写检查\",\n    \"pointName\": \"费用行说明\",\n    \"rule_content\"\
      : \"2、逐行比对费用明细信息，要求【费用明细项】与【费用说明】要有关联性。\\n1）费用明细项名称=电费时，费用说明不能包含“水”、“清洁”，费用说明需要包含“电”\\\
      n2）费用明细项名称=水费时，费用说明不能包含“电”、“清洁”，费用说明需要包含“水”\\n3）费用明细项名称=清洁支出时，费用说明不能包含“水”“电”\"\
      ,\n    \"expense_item_scope\": [\n      \"电费\",\n      \"水费\",\n      \"清洁支出\"\
      \n    ],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"\
      from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\",\n        \"iterate\"\
      : true,\n        \"description\": \"费用明细行对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"join_key\": null,\n    \"condition\": null,\n    \"assertion\"\
      : {\n      \"type\": \"semantic\",\n      \"description\": \"判断费用明细项与费用说明的语义关联性\"\
      ,\n      \"semantic_rules\": [\n        \"A.费用明细项名称=电费时，A.费用说明不能包含“水”、“清洁”，需要包含“电”\"\
      ,\n        \"A.费用明细项名称=水费时，A.费用说明不能包含“电”、“清洁”，需要包含“水”\",\n        \"A.费用明细项名称=清洁支出时，A.费用说明不能包含“水”“电”\"\
      \n      ],\n      \"judgment_basis\": \"根据费用明细项与费用说明的文字描述进行语义匹配\"\n    }\n \
      \ },\n  {\n    \"pointId\": 3,\n    \"module\": \"表单填写检查\",\n    \"pointName\"\
      : \"费用承担部门\",\n    \"rule_content\": \"3、逐行检查费用明细信息，要求费用明细信息的【部门属性】必须是“自营门店”\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*].部门属性名称\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用行部门属性\"\n      }\n\
      \    ],\n    \"join\": \"none\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"exact\",\n      \"description\"\
      : \"校验部门属性是否为自营门店\",\n      \"expression\": \"A == '自营门店'\"\n    }\n  },\n \
      \ {\n    \"pointId\": 4,\n    \"module\": \"表单填写检查\",\n    \"pointName\": \"\
      跨费用核销项\",\n    \"rule_content\": \"4、逐行检查费用明细信息，要求每行的【借款费用明细项】与【费用明细项】都要是一致的\\\
      n\",\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n       \
      \ \"alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行对象\"\n      }\n\
      \    ],\n    \"join\": \"none\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"semantic\",\n      \"description\"\
      : \"语义比对借款项与费用项，解决格式不一致（如一个带前缀一个不带）的问题\",\n      \"semantic_rules\": [\n   \
      \     \"A.借款费用明细项 与 A.费用明细项 指向的是同一种费用类型\"\n      ],\n      \"judgment_basis\"\
      : \"识别核心业务含义是否一致，忽略分隔符和前缀差异\"\n    }\n  },\n  {\n    \"pointId\": 5,\n    \"\
      module\": \"发票三流检查\",\n    \"pointName\": \"发票抬头\",\n    \"rule_content\": \"\
      5、逐条检查发票信息，要求每张发票的【购方名称】都要与【门店合同费用信息】的【付款公司】名称是一致的\\n\",\n    \"expense_item_scope\"\
      : [],\n    \"sources\": [\n      {\n        \"alias\": \"A\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.发票信息[*].购方名称\",\n        \"iterate\": true,\n\
      \        \"description\": \"发票购方名称\"\n      },\n      {\n        \"alias\":\
      \ \"B\",\n        \"from\": \"单据\",\n        \"path\": \"$.门店合同费用信息.付款公司\",\n\
      \        \"iterate\": false,\n        \"description\": \"合同付款公司名称\"\n      }\n\
      \    ],\n    \"join\": \"broadcast\",\n    \"join_key\": null,\n    \"condition\"\
      : null,\n    \"assertion\": {\n      \"type\": \"exact\",\n      \"description\"\
      : \"对比发票抬头（购方）与合同付款公司\",\n      \"expression\": \"A == B\"\n    }\n  },\n  {\n\
      \    \"pointId\": 6,\n    \"module\": \"发票三流检查\",\n    \"pointName\": \"发票开具方\"\
      ,\n    \"rule_content\": \"逐行检查费用明细\\n1、使用费用明细的【费用明细项】通过【标准发票项目映射表】关联出对应的【发票项目名称】，\
      \ 找出【发票信息】中【货物或应税劳务名称】含【发票项目名称】的信息。\\n2、使用费用明细的【费用明细项】通过【标准发票项目映射表】关联出对应的【门店合同费用项目类型】，找出【门店合同费用信息】中对应【门店合同费用项目类型】的信息。。\\\
      n3、任一匹配不到信息，视为不通过。\\n4、在匹配到【门店合同费用信息】和【发票信息】的基础上，对比【门店合同费用信息】的“供应商”与【发票信息】对应发票上的“销方名称”是否一致，一致则通过，不一致则不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行\"\n      },\n\
      \      {\n        \"alias\": \"B\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n\
      \        \"path\": \"$\",\n        \"iterate\": false,\n        \"description\"\
      : \"映射表查询（带语义自动纠错）\",\n        \"key_map\": {\n          \"type\": \"semantic\"\
      ,\n          \"description\": \"处理如'经营支出-水费'等非标名称到标准映射表Key的转换\",\n         \
      \ \"source_field\": \"A.费用明细项\",\n          \"candidates\": [\n            \"\
      电费\",\n            \"清洁支出\",\n            \"水费\",\n            \"杂项物业费\",\n\
      \            \"污水处理费\",\n            \"水电公摊费\",\n            \"物业费\",\n    \
      \        \"门店房租\",\n            \"提成房租\",\n            \"仓库房租\",\n         \
      \   \"招牌相关费用\",\n            \"进场费\"\n          ],\n          \"on_failure\"\
      : 1\n        }\n      },\n      {\n        \"alias\": \"C\",\n        \"from\"\
      : \"单据\",\n        \"path\": \"$.发票信息[*]\",\n        \"iterate\": true,\n  \
      \      \"description\": \"发票信息列表\"\n      },\n      {\n        \"alias\": \"\
      D\",\n        \"from\": \"单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n\
      \        \"iterate\": false,\n        \"description\": \"合同条款详情\"\n      }\n\
      \    ],\n    \"join\": \"cross_any\",\n    \"join_key\": \"按业务语义寻找匹配的发票与合同项\"\
      ,\n    \"condition\": null,\n    \"assertion\": {\n      \"type\": \"pipeline\"\
      ,\n      \"steps\": [\n        {\n          \"stepId\": 1,\n          \"type\"\
      : \"semantic_check\",\n          \"description\": \"匹配发票行：检查发票货物名称是否属于映射表定义的范围\"\
      ,\n          \"semantic_rules\": [\n            \"根据 B[A.费用明细项].发票项目名称，在 C.发票行[*].货物或应税劳务名称\
      \ 中匹配到对应发票\"\n          ],\n          \"on_failure\": 1\n        },\n      \
      \  {\n          \"stepId\": 2,\n          \"type\": \"exact_compare\",\n   \
      \       \"description\": \"比对销方名称与合同供应商\",\n          \"expression\": \"C.销方名称\
      \ == D[B[A.费用明细项].门店合同费用项目类型].费用.供应商名称\",\n          \"on_failure\": 1\n   \
      \     }\n      ]\n    }\n  },\n  {\n    \"pointId\": 7,\n    \"module\": \"\
      发票项目检查\",\n    \"pointName\": \"开票项目是否标准\",\n    \"rule_content\": \"1、逐行检查费用明细，用【费用明细项】分组合计【核销金额】，形成组合1：【费用明细项】与对应的【金额】\\\
      n2、逐行检查发票的发票行，用【货物或应税劳务名称】分组合计（【金额(不含税)】+【税额】），形成组合2：【货物或应税劳务名称】与对应的【金额】\\n3、【费用明细项】与【货物或应税劳务名称】通过【标准发票项目映射表】对应关联\\\
      n4、以上任一步骤不匹配，则视为不通过\\n5、在步骤3关联匹配的基础上，对比组合1和组合2的金额大小，要求组合2的金额要≥组合1的金额，满足则通过，不满足则不通过\\\
      n6、若以上任一步骤不匹配，则进一步检查该费用明细对应的门店合同费用信息中发票项目是否为“其他”，若是则予以容错通过，否则判定为不通过。\",\n  \
      \  \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"alias\"\
      : \"A_List\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": false,\n        \"description\": \"报账单全量费用明细行列表\"\n\
      \      },\n      {\n        \"alias\": \"B_List\",\n        \"from\": \"单据\"\
      ,\n        \"path\": \"$.发票信息[*].发票行[*]\",\n        \"iterate\": false,\n  \
      \      \"description\": \"报账单全量发票明细行列表\"\n      },\n      {\n        \"alias\"\
      : \"C_Map\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n        \"path\": \"$\"\
      ,\n        \"iterate\": false,\n        \"description\": \"费用项与发票品名、合同类型的标准映射关系字典\"\
      \n      },\n      {\n        \"alias\": \"D_Contract\",\n        \"from\": \"\
      单据\",\n        \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n\
      \        \"description\": \"门店合同各费用类型的详细条款对象\"\n      }\n    ],\n    \"join\"\
      : \"none\",\n    \"assertion\": {\n      \"type\": \"pipeline\",\n      \"steps\"\
      : [\n        {\n          \"stepId\": 1,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行分组合计与核心金额比对\",\n          \"semantic_rules\"\
      : [\n            \"1.【标准化分类】：遍历 A_List，将每个'费用明细项'（如'经营支出-水费'）语义识别并归类为 C_Map\
      \ 中的标准 Key（如'水费'）。\",\n            \"2.【汇总计算】：按标准化分类分别合计 A_List 的'核销金额'（报账总额）与\
      \ B_List 对应品名的'金额+税额'（发票总额）。\",\n            \"3.【合规豁免】：逐一比对分类金额。若某类费用的‘发票总额\
      \ >= 报账总额’，立即判定该类别为【完全合规】，并将其从待核验清单中移除，严禁对其执行后续合同核验。\",\n            \"4.【终止指令】：若所有费用类别均被标记为【完全合规】，则判定整条规则通过，并立即终止\
      \ pipeline，不得查看合同信息。\",\n            \"5.【残留项流转】：仅将‘发票总额 < 报账总额’的特定类别标记为【金额不足项】，并流转至步骤2进行容错核验。\"\
      \n          ],\n          \"on_success\": 1,\n          \"on_failure\": 0\n\
      \        },\n        {\n          \"stepId\": 2,\n          \"type\": \"semantic_check\"\
      ,\n          \"description\": \"执行容错性检查（仅针对金额不足的分类）\",\n          \"semantic_rules\"\
      : [\n            \"1.【锁定对象】：本步骤【仅限】处理步骤1中遗留的【金额不足项】。对于步骤1已判定合规的项目，不得再次调取其合同信息。\"\
      ,\n            \"2.【合同比对】：根据【金额不足项】对应的 C_Map[标准分类].门店合同费用项目类型，去 D_Contract 查找该条款的‘发票项目’字段。\"\
      ,\n            \"3.【容错判定】：若该字段值为‘其他’，则该缺口项视为容错通过；若字段缺失或不为‘其他’，则判定为最终不通过。\",\n\
      \            \"4.【结论一致性】：只有当所有【金额不足项】均符合合同‘其他’容错条件时，整条规则才判定为通过。\"\n        \
      \  ],\n          \"on_failure\": 1\n        }\n      ]\n    }\n  },\n  {\n \
      \   \"pointId\": 8,\n    \"module\": \"无票核销核查\",\n    \"pointName\": \"检查管理标签\"\
      ,\n    \"rule_content\": \"9、逐行检查费用明细信息，\\n变量：【核销-费用类型与门店合同费用项目类型映射】\\n如果费用明细信息的【发票类型】为“无票核销”，根据【标准发票项目映射表】通过【费用明细项】匹配对应的【门店合同费用项目类型】，如果【门店合同费用信息】中对应项目的发票信息/发票类型为无发票，则审核通过，反之不通过。\"\
      ,\n    \"expense_item_scope\": [],\n    \"sources\": [\n      {\n        \"\
      alias\": \"A\",\n        \"from\": \"单据\",\n        \"path\": \"$.费用信息.费用明细[*]\"\
      ,\n        \"iterate\": true,\n        \"description\": \"费用明细行\"\n      },\n\
      \      {\n        \"alias\": \"B\",\n        \"from\": \"外部数据:标准发票项目映射表\",\n\
      \        \"path\": \"$\",\n        \"iterate\": false,\n        \"description\"\
      : \"映射表查询（带语义映射）\",\n        \"key_map\": {\n          \"type\": \"semantic\"\
      ,\n          \"description\": \"费用明细项语义纠错转换\",\n          \"source_field\":\
      \ \"A.费用明细项\",\n          \"candidates\": [\n            \"电费\",\n         \
      \   \"清洁支出\",\n            \"水费\",\n            \"杂项物业费\",\n            \"污水处理费\"\
      ,\n            \"水电公摊费\",\n            \"物业费\",\n            \"门店房租\",\n   \
      \         \"提成房租\",\n            \"仓库房租\",\n            \"招牌相关费用\",\n      \
      \      \"进场费\"\n          ],\n          \"on_failure\": 1\n        }\n     \
      \ },\n      {\n        \"alias\": \"C\",\n        \"from\": \"单据\",\n      \
      \  \"path\": \"$.门店合同费用信息.门店条款信息\",\n        \"iterate\": false,\n        \"\
      description\": \"合同条款详情\"\n      }\n    ],\n    \"join\": \"none\",\n    \"\
      condition\": {\n      \"description\": \"仅针对无票核销行生效\",\n      \"path\": \"A.发票类型\"\
      ,\n      \"operator\": \"==\",\n      \"value\": \"无票核销\"\n    },\n    \"assertion\"\
      : {\n      \"type\": \"exact\",\n      \"description\": \"检查合同中对应的项目是否允许无发票\"\
      ,\n      \"expression\": \"C[B[A.费用明细项].门店合同费用项目类型].发票信息.发票类型 == '无发票'\"\n \
      \   }\n  }\n]"
    value_type: string
  - description: 标准发票映射
    id: 6a6d4d64-5378-4532-8e16-ec5cc448ed72
    name: standard_invoice_item_mapping
    selector:
    - env
    - standard_invoice_item_mapping
    value: "{\n  \"电费\": {\n    \"发票项目名称\": [\n      \"*供电*xxx\",\n      \"*发电*xxx\"\
      ,\n      \"*售电*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"电费\"\n  },\n  \"水费\": {\n\
      \    \"发票项目名称\": [\n      \"*水冰雪*xxx\",\n      \"*不征税自来水*xxx\",\n      \"*不征增值税自来水*xxx\"\
      \n    ],\n    \"门店合同费用项目类型\": \"水费\"\n  },\n  \"清洁支出\": {\n    \"发票项目名称\": [\n\
      \      \"*企业管理服务*xxx\",\n      \"*生活服务*xxx\",\n      \"*现代服务*xxx\",\n      \"\
      *劳务*xxx\",\n      \"*处理处置服务*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"垃圾清运费\"\n \
      \ },\n  \"杂项物业费\": {\n    \"发票项目名称\": [\n      \"*企业管理服务*xxx\",\n      \"*现代服务*xxx\"\
      \n    ],\n    \"门店合同费用项目类型\": \"合同约定其他费用\"\n  },\n  \"污水处理费\": {\n    \"发票项目名称\"\
      : [\n      \"*企业管理服务*xxx\",\n      \"*生活服务*xxx\",\n      \"*劳务*xxx\"\n    ],\n\
      \    \"门店合同费用项目类型\": \"不参考门店信息表\"\n  },\n  \"水电公摊费\": {\n    \"发票项目名称\": [\n\
      \      \"*供电*xxx\",\n      \"*发电*xxx\",\n      \"*售电*xxx\",\n      \"*水冰雪*xxx\"\
      ,\n      \"*不征税自来水*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"电费、水费\"\n  },\n  \"\
      物业费\": {\n    \"发票项目名称\": [\n      \"*企业管理服务*xxx\",\n      \"*供热*xxx\"\n   \
      \ ],\n    \"门店合同费用项目类型\": \"物业费\"\n  },\n  \"门店物业费\": {\n    \"发票项目名称\": [\n\
      \      \"*企业管理服务*xxx\",\n      \"*供热*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"物业费\"\
      \n  },\n  \"门店房租\": {\n    \"发票项目名称\": [\n      \"*经营租赁*xxx\"\n    ],\n    \"\
      门店合同费用项目类型\": \"房租\"\n  },\n  \"提成房租\": {\n    \"发票项目名称\": [\n      \"*经营租赁*xxx\"\
      \n    ],\n    \"门店合同费用项目类型\": \"房租\"\n  },\n  \"仓库房租\": {\n    \"发票项目名称\": [\n\
      \      \"*经营租赁*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"房租\"\n  },\n  \"招牌相关费用\"\
      : {\n    \"发票项目名称\": [\n      \"*企业管理服务*xxx\",\n      \"*现代服务*xxx\"\n    ],\n\
      \    \"门店合同费用项目类型\": \"不参考门店信息表\"\n  },\n  \"进场费\": {\n    \"发票项目名称\": [\n \
      \     \"*企业管理服务*xxx\"\n    ],\n    \"门店合同费用项目类型\": \"不参考门店信息表\"\n  }\n}"
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 20
        file_size_limit: 50
        image_file_size_limit: 20
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773626213549-source-1773626218856-target
      selected: false
      source: '1773626213549'
      sourceHandle: source
      target: '1773626218856'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773626218856-source-1773729723221-target
      source: '1773626218856'
      sourceHandle: source
      target: '1773729723221'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1773729723221-source-1773626891388-target
      source: '1773729723221'
      sourceHandle: source
      target: '1773626891388'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: audit_rules
          max_length: null
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: audit_rules
        - default: ''
          hint: ''
          label: report_detail
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: report_detail
        - default: ''
          hint: ''
          label: report_number
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: report_number
        - default: ''
          hint: ''
          label: snapshot_id
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: snapshot_id
        - default: ''
          hint: ''
          label: approval_id
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: approval_id
      height: 192
      id: '1773626213549'
      position:
        x: 927.7571167228025
        y: -62.511976848702204
      positionAbsolute:
        x: 927.7571167228025
        y: -62.511976848702204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: doubao-seed-1-6
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: f64afdd3-f2d3-4c41-9868-5ad5f4c14533
          role: system
          text: "你是一名财务合规审核 AI，负责对报账单据进行结构化合规审查。\n\n---\n\n## 一、输入说明\n\n每次审核你会收到：\n\
            \n**【审批规则表】** 结构化规则 JSON 数组\n**【报账单据】** 待审核的单据 JSON\n**【外部数据】**（可选）报账单以外的外部系统数据，若未提供则相关规则标注\"\
            外部数据缺失\"\n\n已知外部数据：`标准发票项目映射表`\n以费用项目名称为 key，每个 key 下包含：\n- `发票项目名称`：该费用项目对应的合规发票项目列表（模糊匹配模式）\n\
            - `门店合同费用项目类型`：对应的门店合同费用信息类型（用于关联门店条款信息；为空字符串时表示无对应类型；值为`不参考门店信息表`时表示该费用类型不得再继续匹配门店条款，凡需依赖门店条款继续核验的审核点，一律直接判定不通过并提示人工审核）\n\
            \n使用时以 `费用明细项` 的值为 key 动态取值，例如费用明细项=电费，则取 `$.电费.发票项目名称` 做发票项目合规性校验，取 `$.电费.门店合同费用项目类型`\
            \ 关联门店条款信息中的对应供应商。若取到的 `门店合同费用项目类型` 为 `不参考门店信息表`，则仅保留基于发票项目本身可完成的自动校验；凡需要继续匹配门店条款信息才能完成的校验，必须直接判定不通过并提示人工审核。\n\
            \n单据层级结构：\n```\n单据\n├── 收款方                      （门店对公付款时含完整账户信息；其他业务类型可能仅有金额字段）\n\
            ├── 基本信息                    （单据级，唯一）\n├── 费用信息\n│   └── 费用明细[]       \
            \       （行级，可多条）\n│       ├── 费用明细项          费用项目名称\n│       ├── 借款费用明细项\
            \      借款费用项目名称（核销类单据使用）\n│       ├── 部门属性名称        如\"自营门店\"、\"管理\"等\n\
            │       └── ...\n├── 发票信息[]                  （发票级，可多张）\n│   ├── 销方名称 \
            \               发票级字段，属于整张发票，不属于发票行\n│   └── 发票行[]\n│       ├── 货物或应税劳务名称\
            \  仅专票/普票有此字段，收据/其他类型可能缺失\n│       └── ...\n├── 合同信息[]\n└── 门店合同费用信息\n\
            \    ├── 付款公司\n    ├── 供应商\n    └── 门店条款信息            （以费用类型名称为 key 的对象）\n\
            \        ├── 水费\n        │   └── 费用: { 供应商名称, 收款户名, 发票项目描述, ... }\n  \
            \      ├── 电费\n        │   └── 费用: { 供应商名称, 收款户名, 发票项目描述, ... }\n    \
            \    ├── 房租\n        │   └── 费用列表: [ { 供应商名称, 发票类型, ... } ]  （数组，可多条）\n\
            \        └── ...（垃圾清运费/物业费/仓库租金/合同约定其他费）\n```\n\n---\n\n## 二、result 值约定\n\
            \n```\n0 = 通过\n1 = 不通过\n```\n\n---\n\n## 三、执行步骤\n\n对规则表中每条规则，按以下步骤执行：\n\
            \n### Step 1 — 确认规则是否适用\n\n- `expense_item_scope` 为空数组 `[]`：适用本单所有费用行\n\
            - `expense_item_scope` 非空：仅适用于费用明细项在该列表内的费用行\n- 本单无匹配费用行：跳过，result=0，calculationProcess\
            \ 填\"本单无涉及该费用项目，跳过\"\n\n### Step 2 — 检查外部数据\n\n若任意 source 的 `from` 包含\"\
            外部数据\"字样：\n- 外部数据已提供：继续执行\n- 外部数据未提供：result=1，inaccurate=true，calculationProcess\
            \ 填\"外部数据【XXX】未提供，无法核验，需人工确认\"，跳过后续步骤\n\n### Step 3 — 检查 condition\n\n\
            - condition 为 null：直接继续\n- condition 不为 null：判断条件是否满足\n  - 满足：继续执行\n \
            \ - 不满足：result=0，calculationProcess 填\"条件不满足，本条规则不适用\"\n  - 条件字段缺失：保守处理，视为满足并继续，在\
            \ calculationProcess 中注明\n\n### Step 4 — 按 sources 取数\n\n- `iterate: false`：取单值，字段不存在则记\"\
            字段缺失\"\n- `iterate: true`：取列表，列表为空则记\"无数据\"\n- 部分字段因业务类型而异，缺失时不视为错误，需结合业务类型判断是否应存在：\n\
            \  - `收款方` 账户信息：仅门店对公付款业务类型下存在\n  - `发票行.货物或应税劳务名称`：仅专票/普票存在，收据/其他类型缺失属正常\n\
            \  - `销方名称`、`购方名称`：均为发票级字段；规则若要求比对销方或购方，默认从 `发票信息` 层读取，不得误从 `发票行` 层取值\n\
            \  - `借款费用明细项`：核销类单据使用，付款类单据可能无此字段\n\n若 source 包含 `key_map` 字段（非 null），在执行\
            \ expression 中的 `B[A.字段名]` 动态取值前，先对 key 做映射转换：\n\n```\nkey_map.type =\
            \ \"explicit\"\n  → 直接查 mapping 表，将 A.字段名 的值转换为对应 key\n  → mapping 中找不到该值时，该行记\"\
            映射表中无对应项，信息不足\"，result=1\n\nkey_map.type = \"semantic\"\n  → 用模型根据 source_field\
            \ 的值语义判断归属 candidates 中的哪个 key\n  → 能明确判断：使用判断结果作为 key 继续执行\n  → 语义模糊：按\
            \ on_failure 处理，inaccurate=true\n```\n\n映射完成后，expression 中的 `B[A.字段名]`\
            \ 使用映射后的 key 取值，calculationProcess 中需说明映射过程。\n若规则要求通过【标准发票项目映射表】匹配费用项，而原始费用项名称带有业务前缀、分隔符或组合表述（如“经营支出-电费”“租赁支出/门店房租”），应先做语义归一，再映射到标准\
            \ key（如“电费”“门店房租”）；不得直接把原始费用项全文当作映射 key。\n若映射得到的 `门店合同费用项目类型` 为多个值（如“电费、水费”），应先按分隔符拆分为多个独立合同类型，再逐个匹配\
            \ `门店合同费用信息` 中对应条款；这种情况不是“无法唯一定位”，不得直接按信息不足处理。若规则语义要求“都要匹配”，则全部拆分后的合同类型都满足条件才算通过，只要任意一个不满足即判定不通过。\n\
            若映射结果中的 `门店合同费用项目类型` 为 `不参考门店信息表`，且当前规则后续需要依赖门店条款信息继续核验，则不得再去门店条款信息中查找字段，应直接\
            \ result=1，并在 calculationProcess 中明确写明“该费用类型不参考门店信息表，需人工审核”。\n\n### Step\
            \ 5 — 按 join 配对\n\n```\nnone       → 直接对取到的值执行断言\nbroadcast  → source[0]\
            \ 单值广播给 source[1] 列表每个元素，逐一配对，每对都必须通过\nzip        → 两个列表按 join_key 关联（null\
            \ 时按下标对齐），每对都必须通过\n             找不到匹配项时记\"关联不到对应数据\"\ncross_any  → A 列表每个元素遍历整个\
            \ B 列表\n             A 中某元素只要在 B 中找到任意一个使断言通过的元素，该元素视为通过\n           \
            \  A 中所有元素都至少找到一个匹配，整体 result=0\n             A 中某元素在整个 B 中找不到任何匹配，该元素不通过，记录具体原因\n\
            cross_all  → A 列表每个元素遍历整个 B 列表\n             A 中某元素必须与 B 中所有元素都满足断言，才视为通过\n\
            \             任意一对不通过，该元素不通过，记录是与 B 中哪个元素不符\n```\n\n### Step 6 — 执行 assertion\n\
            \n**类型1：exact（单步精确比对）**\n按 `expression` 直接比对取到的值，得出通过/不通过。\n\n**边界值判断须严格遵守运算符语义：**\n\
            ```\nA >= B：A 等于 B 时视为通过，不得误判为不通过\nA <= B：A 等于 B 时视为通过，不得误判为不通过\nA > B\
            \ ：A 等于 B 时视为不通过\nA < B ：A 等于 B 时视为不通过\nA == B：仅 A 等于 B 时通过\n```\n例：expression\
            \ 为 `A >= B`，A=72450，B=72450，结果为**通过**。\n\n**字符串比对前必须先做规范化处理，再比对，避免符号差异导致误判：**\n\
            ```\n1. 所有字符串操作数先做 Unicode 兼容归一/全角转半角：（）→ ()、【】→ []、／→ /、Ａ→ A 等兼容字符统一转为半角\n\
            2. 去除所有空格（包括全角空格）\n3. 统一大小写（英文字母转小写）\n4. 所有分隔符（-、/、~ 及其全角/Unicode 变体）统一视为同一字符\n\
            \   即\"出租-水费\"=\"出租/水费\"=\"出租~水费\"=\"出租—水费\"\n```\n例如：`瑞幸咖啡（厦门）有限公司` 与\
            \ `瑞幸咖啡(厦门)有限公司` 只存在中英文括号差异，规范化后视为一致，`A == B` 应判定通过。\n规范化仅用于判断是否一致，calculationProcess\
            \ 中仍展示原始值。\n\nexpression 中的引用方式：\n```\nA == B          → 两个 source alias\
            \ 之间的比对\nA.字段名        → source 取到的是整行对象时，用点号引用行内某个字段\n               \
            \   例：A.借款费用类型 == A.核销费用类型（同一行内两字段比对，source 只需一个）\nB[A.字段名]     → B 是\
            \ key-value 对象（iterate:false）时，用 A 当前行的某字段值作为动态 key\n                \
            \  取出 B 的对应属性，再做进一步比对\n                  例：A.供应商名称 == B[A.费用明细项].供应商\n\
            \                  此时 B 的 source 应为 iterate:false，join 用 broadcast\nA\
            \ == C[step1.classification]\n                → 引用 pipeline 前步的分类结果作为索引\n\
            ```\n\n> **同一对象内的两个字段比对**（如费用行内的借款费用类型 vs 核销费用类型），\n> source 只取一个（整行对象，iterate:true），join=none，expression\
            \ 写 `A.字段1 == A.字段2`，\n> 无需两个 source、无需 join=zip。\n\n**类型2：semantic（单步语义判断）**\n\
            按 `semantic_rules` 中的标准，结合业务常识理解后判断。\n`semantic_rules` 中可用 `A.字段名`、`B[A.字段名]`\
            \ 等方式引用具体字段值，与 exact 的 expression 语法一致。\n- 判断前先完整读取所有相关字段值，确认后再给出结论，不得边判断边修改\n\
            - 能明确判断：给出通过/不通过及理由\n- 语义模糊：result=1，inaccurate=true，说明\"语义模糊，需人工确认\"\n\
            - calculationProcess 必须用大白话说明判断依据，明确指出判断了哪些字段的哪些值\n- **只判断 semantic_rules\
            \ 中列出的条件**，不得引入额外判断（如费用说明含无关词汇不构成违规，除非规则明确禁止）\n\n**类型3：pipeline（多步有序执行）**\n\
            按 `steps` 数组顺序逐步执行，每步有三种类型：\n\n```\nsemantic_classify   语义分类\n  → 将 classify_by\
            \ 字段的值归入 categories 之一\n  → 分类结果供后续步骤通过 stepN.classification 引用\n  → 无法归类时按该步\
            \ on_failure 处理\n\nsemantic_check      语义判断\n  → 按 semantic_rules 对字段值做业务层面判断\n\
            \  → 无法判断时 inaccurate=true，按该步 on_failure 处理\n\nexact_compare       精确比对\n\
            \  → 按 expression 精确比对字段值\n  → 可用 stepN.classification 引用前步分类结果，如 C[step1.classification]\n\
            ```\n\n每步的 `on_success` / `on_failure` 取值：\n```\non_success = 1   → 本步通过时立即终止整条\
            \ pipeline，result=0（整体通过）\n                   这是\"短路成功\"，不是矛盾，是预期行为，直接输出\
            \ result=0\non_success = 0   → 本步通过后继续执行下一步（默认，字段可省略）\n\non_failure =\
            \ 1   → 本步失败时立即终止整条 pipeline，result=1（整体不通过）\non_failure = 0   → 本步失败后记录原因，继续执行下一步\n\
            \                   若后续没有补救性步骤将其转为通过，则最终 result=1；\n                 \
            \  若后续某一步配置了 on_success = 1 且该步通过，则以后续步骤的短路成功结论为准，整体 result=0\n```\n\n\
            **关于 on_success=1 的重要说明**：\n当某步 on_success=1 且该步断言通过时，pipeline 立即结束，result=0，不再执行后续步骤。\n\
            这是正常的短路逻辑，calculationProcess 中直接写\"第N步通过，整体通过\"即可，\n不得描述为\"矛盾\"、\"逻辑冲突\"\
            或自行推翻结论。\n\ncalculationProcess 中需按步骤顺序逐一说明每步的判断过程和结论。\n每步只执行该步 assertion\
            \ 中定义的内容，不得引入其他步骤或其他规则的判断逻辑。\n\n### Step 7 — 输出\n\n所有规则执行完毕后，按指定 JSON\
            \ 格式输出。\n输出每个 point 时必须按字段生成顺序处理：先写 `calculationProcess`，再根据 `calculationProcess`\
            \ 最后一句填写 `result`，不得先填写 `result` 再推理。\n输出前必须逐点自检：每个 point 先确定一个唯一的最终结论，只能是“通过”或“不通过”二选一。\n\
            `calculationProcess` 最后一句必须固定使用以下两种之一：\n- `本审核点通过。`\n- `本审核点不通过。`\n\n\
            最后再根据 `calculationProcess` 最后一句反填 `result`：\n- 最后一句完全等于 `本审核点通过。`，`result`\
            \ 必须为 0\n- 最后一句完全等于 `本审核点不通过。`，`result` 必须为 1\n\n若发现 `calculationProcess`\
            \ 中出现“整体通过”“本点通过”“审核通过”等最终通过结论，但 `result=1`，必须先把 `result` 改为 0 再输出。\n\
            若发现 `calculationProcess` 中出现“整体不通过”“本点不通过”“审核不通过”等最终不通过结论，但 `result=0`，必须先把\
            \ `result` 改为 1 再输出。\n\n---\n\n## 四、输出格式\n\n**严格按以下 JSON 格式输出，不输出任何格式以外的内容。**\n\
            \n```json\n{\n  \"modules\": [\n    {\n      \"moduleName\": \"<规则的 module\
            \ 字段值>\",\n      \"points\": [\n        {\n          \"pointId\": \"<规则的\
            \ pointId 字段值>\",\n          \"pointName\": \"<规则的 pointName 字段值>\",\n\
            \          \"content\": \"<从单据中提取到的实际值摘要，用自然语言描述>\",\n          \"calculationProcess\"\
            : \"<大白话推理过程，不得包含代码、字段路径等技术词汇>\",\n          \"result\": 0,\n        \
            \  \"rule_content\": \"<规则的 rule_content 字段原文>\",\n          \"attachments\"\
            : [],\n          \"inaccurate\": false\n        }\n      ]\n    }\n  ]\n\
            }\n```\n\n---\n\n## 五、关键输出规范\n\n### content 字段\n- 单值比对：写出两个比对值，如\"费用承担公司=XX，合同付款公司=YY\"\
            \n- 逐行检查：写出所有行的关键信息，如\"第0行费用性质=一次性费用；第1行费用性质=周期性费用\"\n- pipeline 类型：写出每步涉及的关键值\n\
            - 外部数据缺失：写\"外部数据未提供，无实际内容\"\n\n### calculationProcess 字段\n- 用大白话描述推理过程，财务人员能看懂\n\
            - 逐行/逐发票检查时，明确说明\"第X行\"或\"发票号XXXX\"\n- pipeline 类型：按步骤顺序说明，如\"第1步：根据发票货物名称'餐饮服务'，判断属于…；第2步：比对销方名称…\"\
            \n- **禁止出现**：$.xxx、JSONPath、字段路径、代码表达式，类似“pipeline”等技术词汇\n- **先完成内部推理，再输出结论**：calculationProcess\
            \ 中只写最终的判断过程和结论，不得输出中间的反复、自我质疑、修正过程。如果推理中有疑问，在内部解决后再写入，不得出现\"重新判断\"、\"\
            修正\"、\"之前判断错误\"等表述\n- **结论与 result 必须一致**：calculationProcess 最后一句只能写`本审核点通过。`或`本审核点不通过。`；最后一句为`本审核点通过。`时\
            \ result 必须为 0，最后一句为`本审核点不通过。`时 result 必须为 1，不得矛盾\n- **最终结论优先**：若 calculationProcess\
            \ 中已经明确写出\"整体通过\"、\"本点通过\"、\"审核通过\"等最终通过结论，则 `result` 必须为 0；若已经明确写出\"\
            整体不通过\"、\"本点不通过\"、\"审核不通过\"等最终不通过结论，则 `result` 必须为 1\n- **补救型步骤场景**：对于先失败后流转、并由后续步骤补救通过的情况，calculationProcess\
            \ 一旦写明\"整体通过\"或同义结论，`result` 必须填 0，不得再因为前序步骤曾失败而保留为 1\n- **禁止回退结论**：对于补救型规则，若前序步骤只是“未直接通过”“待补充校验”并已流转到后续步骤，则不得输出“因前序步骤未通过所以整体不通过”“虽然后续满足条件但前面有未通过项所以不通过”或任何同义表述\n\
            - **中间步骤与最终结论区分**：步骤1未命中、名称不匹配、金额不足等表述，只能说明“未按标准直接通过”或“进入下一步检查”，除非规则明确写明该步失败即整体失败，否则不得直接当作本点最终不通过结论\n\
            \n### result 字段\n```\n0 = 通过（含：规则跳过、条件不满足）\n1 = 不通过（含：比对不符、语义判断不符、外部数据缺失、语义模糊、信息不足）\n\
            ```\n- result 只能反映该审核点的**最终结论**，不得反映某个中间步骤的局部失败\n- 对于 pipeline/多步校验，若后续步骤已将前序失败补救为通过，则最终\
            \ result 必须为 0\n- 对于“先标准校验、后容错校验”的规则，前序步骤未直接通过但后续容错通过时，最终 result 必须为 0\n\
            \n### inaccurate 字段\n```\nfalse = 结论确定\ntrue  = 结论存疑（外部数据缺失、语义模糊、字段缺失等导致无法完全核验）\n\
            ```\n\n### 费用行序号的引用\n费用明细的\"序号\"字段从 0 开始，展示时统一 +1，如序号=0 展示为\"第1行\"，序号=1\
            \ 展示为\"第2行\"，与用户阅读习惯一致。\n\n---\n\n## 六、注意事项\n\n1. **严格按规则执行，不得自行添加判断**：每条规则只检查其\
            \ assertion 中明确定义的内容，不得因业务常识或其他规则的逻辑引入额外的判断项。例如规则只要求比对供应商名称，就只比对供应商名称，不得额外判断发票项目是否符合费用类型；规则未要求检查门店合同费用信息是否存在某字段，就不得以该字段缺失为由判定不通过。\n\
            2. **不跳过任何适用规则**：某条规则发现问题，后续规则仍需继续执行\n3. **信息不足不等于通过**：外部数据缺失、字段缺失、语义模糊，一律\
            \ result=1，inaccurate=true\n4. **同一模块的多条规则**：合并到同一个 module 对象的 points\
            \ 数组中\n5. **逐行/逐发票检查**：每行/每张发票在 calculationProcess 中逐一列明，覆盖所有\n6. **result=0\
            \ 的规则也要输出**：全量输出，便于追溯"
        - id: eb2d05b6-9dc5-4afa-9e35-e1adee3c55f8
          role: user
          text: '请基于以下提供的【审核规则】和【单据详情】执行审核。


            【审核规则】：

            {{#env.rule2603311955#}}


            【单据详情】：

            {{#1773626213549.report_detail#}}


            【标准发票项目映射表】

            {{#env.standard_invoice_item_mapping#}}



            '
        selected: true
        structured_output:
          schema:
            $schema: http://json-schema.org/draft-07/schema#
            additionalProperties: false
            description: 审核执行 prompt 的输出格式。moduleResult 不在输出中，由代码根据 points 计算。
            properties:
              modules:
                description: 审核模块列表，每个模块聚合同一 module 名称下的所有审核点
                items:
                  additionalProperties: false
                  properties:
                    moduleName:
                      description: 模块名称，取自规则的 module 字段
                      type: string
                    points:
                      items:
                        additionalProperties: false
                        properties:
                          attachments:
                            description: 相关附件列表，通常为空
                            items: {}
                            type: array
                          calculationProcess:
                            description: 大白话推理过程，逐行检查时需明确指出行号，不得包含代码、JSONPath、字段路径或变量名
                            type: string
                          content:
                            description: 从单据中提取的实际值摘要，用自然语言描述，不含技术词汇
                            type: string
                          inaccurate:
                            description: 结论存疑时为 true（外部数据缺失、语义模糊、字段缺失等），结论确定时为 false
                            type: boolean
                          pointId:
                            description: 审核点序号，取自规则的 pointId 字段
                            type: integer
                          pointName:
                            description: 审核点名称，取自规则的 pointName 字段
                            type: string
                          result:
                            description: 0=通过（含规则跳过、条件不满足），1=不通过（含比对不符、外部数据缺失、语义模糊、信息不足）
                            enum:
                            - 0
                            - 1
                            type: integer
                          rule_content:
                            description: 规则原文，取自规则的 rule_content 字段，原样输出
                            type: string
                        required:
                        - pointId
                        - pointName
                        - content
                        - result
                        - calculationProcess
                        - rule_content
                        - attachments
                        - inaccurate
                        type: object
                      minItems: 1
                      type: array
                  required:
                  - moduleName
                  - points
                  type: object
                minItems: 1
                type: array
            required:
            - modules
            title: audit_result
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773626218856'
      position:
        x: 1366.1332983875143
        y: -33.25616158061375
      positionAbsolute:
        x: 1366.1332983875143
        y: -33.25616158061375
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773729723221'
          - result
          value_type: object
          variable: res
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1773626891388'
      position:
        x: 2287.314029869687
        y: -33.25616158061375
      positionAbsolute:
        x: 2287.314029869687
        y: -33.25616158061375
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(llm_data: dict):\n    \"\"\"\n    处理大模型返回的结构化审核数据，补充\
          \ moduleResult 和 summary 统计信息\n    :param llm_data: 大模型 SDK 直接返回的字典对象，格式如\
          \ {\"modules\": [...]}\n    :return: 包含 summary 和 modules 的完整 DTO 字典\n \
          \   \"\"\"\n    # 1. 安全获取 modules 列表\n    modules = llm_data.get(\"modules\"\
          , [])\n\n    # 2. 补充 moduleResult（任意 point.result == 1 则模块不通过）\n    for\
          \ module in modules:\n        points = module.get(\"points\", [])\n    \
          \    module[\"moduleResult\"] = 1 if any(p.get(\"result\") == 1 for p in\
          \ points) else 0\n\n    # 3. 精确统计\n    pass_count = sum(1 for m in modules\
          \ if m.get(\"moduleResult\") == 0)\n    reject_count = sum(1 for m in modules\
          \ if m.get(\"moduleResult\") == 1)\n\n    # 4. 判定整体结果（只要有 1 个模块不通过，整体即为不通过）\n\
          \    approval_result = 1 if reject_count > 0 else 0\n\n    # 5. 组装最终给前端/下游系统的完整结构\n\
          \    final_dto = {\n        \"summary\": {\n            \"approvalResult\"\
          : approval_result,\n            \"passCount\": pass_count,\n           \
          \ \"rejectCount\": reject_count\n        },\n        \"modules\": modules\n\
          \    }\n\n    return {\n        \"result\": final_dto,\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: 汇总审核结果
        type: code
        variables:
        - value_selector:
          - '1773626218856'
          - structured_output
          value_type: object
          variable: llm_data
      height: 52
      id: '1773729723221'
      position:
        x: 1819.438691003913
        y: -33.25616158061375
      positionAbsolute:
        x: 1819.438691003913
        y: -33.25616158061375
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1083.4279738218556
      y: 306.07930392113195
      zoom: 1.0078068743927098
  rag_pipeline_variables: []
